<div class="p-grid p-jc-end">
  <div class="p-col-fixed">
    <div class="btn-box">
      <p-button label="Xuất excel" icon="pi pi-file-excel" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
  <div class="p-col-fixed">
    <div class="btn-box">
      <p-button label="Thêm" icon="pi pi-plus" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
  <div class="p-col-fixed">
    <div class="btn-box">
      <p-button label="Chỉnh sửa" icon="pi pi-pencil" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
  <div class="p-col-fixed">
    <div class="btn-box">
      <p-button label="Xóa" icon="pi pi-trash" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
  <div class="p-col-fixed">
    <div class="btn-box">
      <p-button label="Cập nhật" icon="pi pi-save" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
  <div class="p-col-fixed">
    <div class="btn-box">
      <p-button label="Bỏ qua" icon="pi pi-undo" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
</div>
