.p-file-no-lable {
    transform: translate(0px, 18px);
}

.p-field-btn {
    transform: translate(0px, 5px);
}

.font-sale-market {
    font-weight: bold;
    font-size: 1.5rem;
}

.p-fluid .p-button {
    width: auto;
    transform: translate(0px, 12px);
}