.p-file-no-label {
  transform: translate(0px, 18px);
}

.square {
  height: 30px;
  width: 60px;
  margin-right: 5px;
  margin-left: 15px;
  border: 1px solid black;
}

.note {
  margin-right: 25px;
}

.status-field {
  margin-top: 15px;
}
