<div class="card">
  <div class="p-grid p-fluid">
    <div class="p-field p-col-12 p-lg-3">
      <label>Thu nhập hàng năm:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-lg-3">
      <label>Thu nhập hàng tháng:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-lg-3">
      <label>Chi tiêu hàng tháng:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-lg-3">
      <label>Thu nhập hộ gia đình hàng tháng:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-lg-3">
      <label>Chi tiêu hộ gia đình hàng tháng:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-lg-3">
      <label>Số thành viên hộ gia đình:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-lg-3">
      <label>Tài sản hộ gia đình:</label>
      <p-inputNumber inputId="minmaxfraction" formControlName="redundantCost" placeholder="0" mode="decimal"
                     [maxFractionDigits]="5"></p-inputNumber>
    </div>
  </div>
</div>
