<p-tabView>
  <p-tabPanel header="Thông tin chung">
    <app-general-information></app-general-information>
  </p-tabPanel>
  <p-tabPanel header="Danh sách nhận tin SMS">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Thông tin liên lạc">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Tài chính">
    <app-finance></app-finance>
  </p-tabPanel>
  <p-tabPanel header="Phản hồi">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Đơn hàng">
    Content 2
  </p-tabPanel>
  <app-btn-group></app-btn-group>
</p-tabView>
