<div class="sidebar-section" style="width: 13%;">
    <div class="ui-logo">
        <!-- <h3 class="w3-bar-item">Logo</h3> -->
        <!-- <img src="./../../../assets/demo/images/dashboard/viettelimex.png"> -->
    </div>
    <p-panelMenu [model]="items" [style]="{'width':'100%'}"  ></p-panelMenu>
    
    <!-- <p style="margin-top: 20px;  margin-bottom: 0px;font-size: 20px;">Bán hàng</p> -->
    <div style="width: 90%; margin: 0 0 0 15px;" class="dropdown-hover">
        <p-panelMenu [model]="items1" [style]="{'width':'100%'}"></p-panelMenu>
  </div>
</div>
  