<div>
  <h5>Thông tin tìm kiếm</h5>
  <div class="p-grid p-fluid">
    <div class="p-field p-col-12 p-lg-4">
      <label>Từ khóa: </label>
      <input type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-lg-4">
      <label>Kho giao dịch: </label>
      <p-multiSelect [options]="listWarehouse" optionLabel="name"></p-multiSelect>
    </div>
  </div>
  <div class="p-grid p-fluid">
    <div class="p-field p-col-12 p-lg-4">
      <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-lg-6">
          <label for="icon">Ngày YC</label>
          <p-calendar placeholder="- Từ ngày -" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-lg-6">
          <label style="visibility:hidden">Hiden</label>
          <p-calendar placeholder="- Đến ngày -" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
      </div>
    </div>
    <div class="p-field p-col-12 p-lg-4">
      <label>Kho xuất</label>
      <p-multiSelect [options]="listWarehouse" optionLabel="name"></p-multiSelect>
    </div>
  </div>
  <div class="p-d-flex p-jc-center">
    <div class="btn-box">
      <p-button label="Tìm kiếm" icon="pi pi-search" styleClass="p-button-secondary"></p-button>
    </div>
  </div>
</div>
