<div style="width: 100%;height: 100vh;display: flex;flex-direction: row;">
    <div style="width: 13%;height: 100vh;background-color: green;">
        <app-side-bar></app-side-bar>
    </div>
    <div style="width: 87%;height: 100vh;overflow: hidden;display: flex;flex-direction: column;">
        <div class="top-panel">
            <div class="header-bg">
                <div style="float: left;margin-top: 20px;margin-left: 16px;color: #ffff;"><i class="pi pi-angle-left" style="margin-right: 15px;"></i>{{menuName}}</div>
              <div style="float: right; margin-top: 12px" >
                <p-button  type="button" label="Log out" (onClick)="Logout()" ></p-button>
              </div>
                <div class="output-name" >12345 - Nguyễn Văn A</div>

                <div class="input-search">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input style="width: 300px" type="text" pInputText placeholder="Tìm kiếm nhanh menu"/>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
