.header-bg{
  transition: top 0.3s;
  width: 100%;
  height: 58px;
  background-color: rgb(238 0 51);
}
.output-name{
  float: right;
  margin-top: 20px;
  margin-right: 35px;
  color: #ffff;
}
.input-search{
  float: right;
  margin-top: 12px;
  margin-right: 20px;
}
