<div class="card">
    <div class="p-grid">
        <div class="p-col-6">
            <span class="font-sale-market">Yêu cầu đổi trả</span>
        </div>
        <div class="p-col-6">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-lg-3">
                    <label>Mã phiếu hoặc IMEI:</label>
                    <input type="text" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <div class="p-fluid p-formgrid p-grid field-no-label">
                        <div class="p-field-checkbox p-col-12 p-md-4 p-field-checkbox">
                            <p-radioButton name="" value="Không lỗi"></p-radioButton>
                            <label>Không lỗi</label>
                        </div>
                        <div class="p-field-checkbox p-col-12 p-md-4 p-field-checkbox">
                            <p-radioButton name="" value="Máy lỗi"></p-radioButton>
                            <label>Máy lỗi</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-lg-6">
                    <label class="l-green">Lấy yêu cầu được phép</label>
                    <div class="p-inputgroup">
                        <input type="number" pInputText>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-lg-2">
                    <p-button label="Nhập đổi/trả hàng" icon="pi pi-undo" styleClass="p-button-secondary"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>