<div class="p-d-flex p-jc-center">
    
    <div style="padding-right: 2%;" class="p-d-flex p-flex-column">
        <div class="p-d-flex">
            <div class="margin-lay-form">
                <label style="visibility: hidden;">Tổng tiền:</label>
                    <div class="p-inputgroup">
                        <label style="margin-top: 6px;">Tổng tiền:&nbsp;</label>
                    </div>
            </div>
            <div class="margin-lay-form" style="padding-top: 17px;">
                <!-- <label style="visibility: hidden;">Trạng thái</label> -->
                <p-inputNumber inputId="minmaxfraction" placeholder="0" mode="decimal" [maxFractionDigits]="5" disabled="true"></p-inputNumber>
            </div>
        </div>
    </div>
    <div style="padding-right: 2%;" class="p-d-flex p-flex-column">
        <div class="p-d-flex">
            <div class="margin-lay-form">
                <label style="visibility: hidden;">Phải toán:</label>
                    <div class="p-inputgroup">
                        <label style="margin-top: 6px;">Phải toán:&nbsp;</label>
                    </div>
            </div>
            <div class="margin-lay-form" style="padding-top: 17px;">
                <!-- <label style="visibility: hidden;">Trạng thái</label> -->
                <p-inputNumber inputId="minmaxfraction" placeholder="0" mode="decimal" [maxFractionDigits]="5" disabled="true"></p-inputNumber>
            </div>
        </div>
    </div>
    <div style="padding-right: 2%;" class="p-d-flex p-flex-column">
        <div class="p-d-flex">
            <div class="margin-lay-form">
                <label style="visibility: hidden;">Tiền đã thu:</label>
                    <div class="p-inputgroup">
                        <label style="margin-top: 6px;">Tiền đã thu:&nbsp;</label>
                    </div>
            </div>
            <div class="margin-lay-form" style="padding-top: 17px;">
                <!-- <label style="visibility: hidden;">Trạng thái</label> -->
                <p-inputNumber inputId="minmaxfraction"  placeholder="0" mode="decimal" [maxFractionDigits]="5" disabled="true"></p-inputNumber>
            </div>
        </div>
    </div>
    <div style="padding-right: 2%;" class="p-d-flex p-flex-column">
        <div class="p-d-flex">
            <div class="margin-lay-form">
                <label style="visibility: hidden;">Tiền còn nợ:</label>
                    <div class="p-inputgroup">
                        <label style="margin-top: 6px;">Tiền còn nợ:&nbsp;</label>
                    </div>
            </div>
            <div class="margin-lay-form" style="padding-top: 17px;">
                <!-- <label style="visibility: hidden;">Trạng thái</label> -->
                <p-inputNumber inputId="minmaxfraction"  placeholder="0" mode="decimal" [maxFractionDigits]="5" disabled="true"></p-inputNumber>
            </div>
        </div>
    </div>
    
</div>