<p-dialog header="Thông tin khuyến mãi theo sản phẩm" [(visible)]="PromotinalSecondDialog" (onHide)="onCloseModal.emit()"
    [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <div class="p-fluid p-formgrid p-grid">
        <h5>Xác nhận khuyến mãi đã chọn</h5>
        <div class="p-field p-col-12 p-lg-12">
            <h6>Tặng quà</h6>
            <app-table-dynamic [data]="tablePromotional1"></app-table-dynamic>
        </div>
        <div class="p-field p-col-12 p-lg-12">
            <h6>Coupon</h6>
            <app-table-dynamic [data]="tablePromotional2"></app-table-dynamic>
        </div>
        <div class="p-field p-col-12 p-lg-12">
            <h6>Giảm giá</h6>
            <app-table-dynamic [data]="tablePromotional3"></app-table-dynamic>
        </div>
        <div class="p-field p-col-12 p-lg-3"></div>
        <div class="p-field p-col-12 p-lg-3"></div>
        <div class="p-field p-col-12 p-lg-3">
            <label>Giá trước giảm</label>
            <p-inputNumber inputId="minmaxfraction"  placeholder="0" mode="decimal" [maxFractionDigits]="5" disabled="true"></p-inputNumber>
        </div>
        <div class="p-field p-col-12 p-lg-3">
            <label>Giá sau giảm</label>
            <p-inputNumber inputId="minmaxfraction"  placeholder="0" mode="decimal" [maxFractionDigits]="5" disabled="true"></p-inputNumber>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="PromotinalSecondDialog=false" icon="pi pi-arrow-left" label="Quay lại" styleClass="p-button-text"></p-button>
        <p-button (click)="PromotinalSecondDialog=false" icon="pi pi-check" label="Đồng ý" styleClass="p-button-text"></p-button>
        <p-button (click)="PromotinalSecondDialog=false" icon="pi pi-times"  label="Bỏ qua"></p-button>
    </ng-template>
</p-dialog>
