<div class="card">
    <div class="p-grid">
        <div class="p-col-6">
            <span class="font-sale-market">Lật ô samsung</span>
        </div>
        <div class="p-col-6">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-lg-4">
            <div class="p-field">
                <label>Mã chương trình:</label>
                <input type="text" pInputText>
            </div>
            <div class="p-field">
                <label class="l-green">Lấy yêu cầu được phép</label>
                <div class="p-inputgroup">
                    <input type="number" pInputText>
                </div>
            </div>
            <div class="p-field">
                <label class="l-green">Lấy yêu cầu được phép</label>
                <div class="p-inputgroup">
                    <input type="number" pInputText>
                </div>
            </div>
            <div class="p-field">
                <label class="l-green">Lấy yêu cầu được phép</label>
                <div class="p-inputgroup">
                    <input type="number" pInputText>
                </div>
            </div>
            <div class="p-field ">
                <label></label>
                <p-button label="Nhập đổi/trả hàng" icon="pi pi-undo" styleClass="p-button-secondary"></p-button>
            </div>
        </div>
        <div class="p-lg-3">
            <div class="p-field">
                <label for="icon">Nội dung</label>
                <textarea [rows]="13" [cols]="30" pInputTextarea></textarea>
            </div>
        </div>
    </div>
</div>