<div class="card">
  <div class="p-grid p-jc-end">
    <div class="p-col-fixed">
      <div class="btn-box">
        <p-button label="Tìm kiếm" icon="pi pi-search" styleClass="p-button-secondary"></p-button>
      </div>
    </div>
    <div class="p-col-fixed">
      <div class="btn-box">
        <p-button label="Duyệt định giá" icon="pi pi-file" styleClass="p-button-secondary"></p-button>
      </div>
    </div>
    <div class="p-col-fixed">
      <div class="btn-box">
        <p-button label="Xuất excel" icon="pi pi-download" styleClass="p-button-secondary"></p-button>
      </div>
    </div>
  </div>
</div>
